:root {
  --custom-font: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Ubuntu, Helvetica Neue, sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #fefefe;
  background-image: url(/assets/videos/fine_grain_bg.mp4);
  color: #141414;
  font-family: var(--custom-font);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}

html,
body {
  margin: 0;
  padding: 0;
}
